<section id="home" data-type="background" data-speed="10" class="home">
  <article>
  <h1>Vinculando Mexico!<br>Nos encargamos de conectar egresados<br> con empresas y obtener <br>mejores condiciones de empleo.</h1>
  <%= link_to "Vinculate Ahora!", new_user_registration_path, :class => 'btn btn-large btn-success button' %>
  </article>
</section>
<section id="about" data-type="background" data-speed="10" class="pages">
  <article>Simple Parallax Scroll</article>
</section>
<section id="contacto" data-type="background" data-speed="10" class="pages">
  <article></article>
</section>
<div>
  <a id="back_to_top" class="button-up" href="#" onclick="$('html, body').animate({scrollTop:0}, 'slow');">
    <i class="icon-up-big"></i>
  </a>
</div>